name: Release Build
permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      create_release:
        description: "Create release?"
        type: boolean
        required: true
        default: true

jobs:
  build:
    strategy:
      matrix:
        variant:
          - { name: "Non-KSU", KSU: "NONE", SUSFS: false, LXC: false }
          - { name: "Non-KSU-LXC", KSU: "NONE", SUSFS: false, LXC: true }
          - { name: "RKSU", KSU: "RKSU", SUSFS: false, LXC: false }
          - { name: "RKSU-LXC", KSU: "RKSU", SUSFS: false, LXC: true }
          - { name: "KSUN", KSU: "NEXT", SUSFS: false, LXC: false }
          - { name: "KSUN-SUSFS", KSU: "NEXT", SUSFS: true, LXC: false }
          - { name: "KSUN-LXC", KSU: "NEXT", SUSFS: false, LXC: true }
          - { name: "KSUN-SUSFS-LXC", KSU: "NEXT", SUSFS: true, LXC: true }
          - { name: "SUKISU", KSU: "SUKI", SUSFS: false, LXC: false }
          - { name: "SUKISU-SUSFS", KSU: "SUKI", SUSFS: true, LXC: false }
          - { name: "SUKISU-LXC", KSU: "SUKI", SUSFS: false, LXC: true }
          - { name: "SUKISU-SUSFS-LXC", KSU: "SUKI", SUSFS: true, LXC: true }
    name: Build ${{ matrix.variant.name }} variant
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      KSU: ${{ matrix.variant.KSU }}
      SUSFS: ${{ matrix.variant.SUSFS }}
      LXC: ${{ matrix.variant.LXC }}
      BBG: false
      TG_NOTIFY: false

  release:
    name: Create Release
    needs: build
    if: ${{ github.event.inputs.create_release == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repo
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 1

      - name: Download All Artifacts
        uses: actions/download-artifact@v7
        with:
          path: release_files

      - name: Import build configs
        run: |
          source "$GITHUB_WORKSPACE/config.sh"
          {
            echo "KERNEL_NAME=$KERNEL_NAME"
            echo "RELEASE_REPO=$RELEASE_REPO"
            echo "RELEASE_BRANCH=$RELEASE_BRANCH"
          } >> "$GITHUB_ENV"

      - name: Generate new tag
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          RELEASE_REPO: ${{ env.RELEASE_REPO }}
        run: |
          TAG_PY="$GITHUB_WORKSPACE/py/tag.py"

          RELEASE_TAG=$(python3 "$TAG_PY" "$RELEASE_REPO")

          echo "New tag: $RELEASE_TAG"
          echo "RELEASE_TAG=$RELEASE_TAG" >> "$GITHUB_ENV"

      - name: Upload builds to release
        uses: softprops/action-gh-release@v2.5.0
        with:
          repository: ${{ env.RELEASE_REPO }}
          name: "${{ env.KERNEL_NAME }} Kernel ${{ env.RELEASE_TAG }}"
          tag_name: ${{ env.RELEASE_TAG }}
          token: ${{ secrets.GH_TOKEN }}
          body: |
            ### Key Changes

            - Add your key changes here.

            ---

            ### Variants Suffixes

            | Suffix | Description |
            |--------|-------------|
            | **-RKSU** | Rsuntk's KernelSU |
            | **-SUKI** | SukiSU Ultra |
            | **-NEXT** | KernelSU Next |
            | **-NONE** | No KernelSU |
            | **-SUSFS** | SUSFS Support |
            | **-LXC** | LXC Support |

            > [!IMPORTANT]
            > For installation instructions and issue reporting guidelines, please refer to the README.md
          generate_release_notes: false
          prerelease: true
          target_commitish: ${{ env.RELEASE_BRANCH }}
          files: release_files/**/*

      - name: Notify Telegram
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: |
          TG_PY="$GITHUB_WORKSPACE/py/tg.py"
        
          escape_md_v2() {
            python3 - "$*" <<'PY'
          import sys, re
          s = sys.argv[1]
          escaped = re.sub(r'([\\_*[\]()~`>#+\-=|{}.!])', r'\\\1', s)
          print(escaped, end="")
          PY
          }

          message=$(
              cat <<EOF
          *$(escape_md_v2 "$KERNEL_NAME Release Build Completed!")*

          [GitHub Release]($(escape_md_v2 "https://github.com/${{ env.RELEASE_REPO }}/releases/${{ env.RELEASE_TAG }}"))
          EOF
          )
          
          printf '%s' "$message" | python3 "$TG_PY" msg
